h2 {
  margin-bottom: 16px;
  font-size: 14px;
}

.game-card {
  margin: 10px 10px 10px 0px;
  float: center;
}

.create-game {
  margin: 10px;
}

.outer-paper2 {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}
